<!DOCTYPE html>
<html>
  <head>
    <title>News API Ruby Client</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="relative bg-stone-100 w-full h-dvh flex flex-col items-center overflow-y-auto">
    <%= render partial: "layouts/flash_mesg" %>   

    <header class="text-3xl font-bold p-8">
      News API
    </header>

    <div class='p-2 w-1/3'>
      <%= form_tag(news_index_path, method: 'get', class: 'w-full flex gap-2') do %>
        <%= text_field_tag :query, params[:query], placeholder: 'Search anything!', class: "rounded-md w-3/4" %>
        <%= submit_tag "Search", class: 'font-semibold hover:bg-stone-400 py-2 px-4 bg-stone-300 rounded-md cursor-pointer w-1/4' %>
      <% end %>
    </div>

    <main class="relative w-full h-full flex flex-col items-center justify-center p-4">
      <%= yield %>
    </main>
  </body>
</html>
